.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.titulo-h1 {
  font-size: 2.75rem;
  font-family: "Gentium Book Basic";
  font-weight: 400;
  margin-bottom: 52px;
  position: relative;
}

@media (max-width: 600px) {
  .titulo-h1 {
    font-size: 2.3rem;
  }
}
