.header-bg {
  background-color: #0b0b0b;
  color: #fff;
}
.header {
  display: flex;
  justify-content: space-around;
}
.header-menu {
  display: flex;
  gap: 40px;
  padding: 36px 20px;
  font-size: 1.75rem;
  font-weight: 400;
  font-family: "Gentium Book Basic", Arial, Helvetica, sans-serif;
  justify-items: center;
}

.header-menu ul {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .header-menu {
    font-size: 1.45rem;
    padding: 16px 20px;
    font-size: 1.55rem;
  }
}
